[Unit]
Description=Update Cloudify settings under AWS environment
Before=cloudify-mgmtworker.service
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/sed -i -e "s/MANAGEMENT_IP=.*/MANAGEMENT_IP=\\"$(/usr/bin/curl --silent http://169.254.169.254/latest/meta-data/local-ipv4)\\"/" /etc/sysconfig/cloudify-mgmtworker'

[Install]
WantedBy=multi-user.target