[Unit]
Description=Update Cloudify settings under AWS environment
Before=cloudify-mgmtworker.service cloudify-amqpinflux cloudify-riemann logstash cloudify-rest cloudify-webui
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fix_cloudify_ip_configurations

[Install]
WantedBy=multi-user.target
